/* Application-wide Styles */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
h1 {
  color: #C5EFF7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3, h4 {
  color: #C5EFF7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
html {
  height: 100%;
  overflow: hidden;
  background-color: #37434e;
}
body {
  margin: 2em;
  background-color: #37434e;
}
body, button {
  color: #C5EFF7;
  font-family: Cambria, Georgia, sans-serif;
}
input[type="text"] {
  //background-color: #485F6E;
  color: #37434e;
  font-family: Cambria, Georgia, sans-serif;
}
.modal-content {
  background-color: #37434e;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
