/* Application-wide Styles */
//$fa-font-path: "../node_modules/@fortawesome/web";
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
h1 {
  color: #C5EFF7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3, h4 {
  color: #C5EFF7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
html {
  height: 100%;
  overflow: hidden;
  background-color: #37434e;
}
body {
  height: 100%;
  overflow: hidden;
  background-color: #37434e;
}
app-root {
  height: 100%;
  overflow: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
body, button {
  color: #C5EFF7;
  font-family: Cambria, Georgia, sans-serif;
}
input[type="text"] {
  color: #37434e;
  font-family: Cambria, Georgia, sans-serif;
}
.modal-content {
  background-color: #37434e;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
