.btn-outline-light {
  color: #9ac7f5;
  font-size: 17px;
  border-color: #4b545c;
  background-color: #4b545c;
}

.btn-outline-light:hover {
  color: #9ac7f5;
  background-color: #526475;
}

.btn-outline-light:not(:disabled):not(.disabled):active {
  color: #9ac7f5;
  border-color: #4b545c;
  background-color: #526475;
}
